@model IEnumerable<MyProject.ViewModels.HouseAccessViewModel>

@{
    ViewData["Title"] = "Access";
}

<h1>Access</h1>

@using (Html.BeginForm("Access", "Houses", FormMethod.Post)) {
    @foreach (var item in Model) {
        <input type="checkbox" name="userIds" value="@item.UserId" @if(@item.Checked) {@Html.Raw("checked")}>
        <span>
            @Html.DisplayFor(modelItem => item.UserName)
        </span>
        <br />
    }

    <input id = "Submit" type = "submit" value = "提交" />
}



