@model MyProject.Models.House

@{
    ViewData["Title"] = "編輯";
}

<h1>編輯</h1>

<h4>客戶資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsection" class="control-label"></label>
                <input asp-for="Subsection" class="form-control" />
                <span asp-validation-for="Subsection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterReason" class="control-label"></label>
                <input asp-for="RegisterReason" class="form-control" />
                <span asp-validation-for="RegisterReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareNumerator" class="control-label"></label>
                <input asp-for="ShareNumerator" class="form-control" />
                <span asp-validation-for="ShareNumerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareDenominator" class="control-label"></label>
                <input asp-for="ShareDenominator" class="form-control" />
                <span asp-validation-for="ShareDenominator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterTime" class="control-label"></label>
                <input asp-for="RegisterTime" class="form-control" />
                <span asp-validation-for="RegisterTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreateTime" type="hidden" class="form-control" />
                <input asp-for="CreateId" type="hidden" class="form-control" />
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
